
@{
    ViewBag.Title = "About";
}

<h2>Gestionnaire de favoris</h2>
<hr />
<p>
    Application Web ASP.Net MVC 5.0 framework.Net permettant de gérer une collection de favoris. Ce site se veut une démonstration générale des possibilités de cet environnement de développement d'applications Web client/serveur dans le cade du cours 420-KBD-LG.
</p>
<hr />
<dl>
    <dt>Auteur</dt>
    <dd>Nicolas Chourot</dd>

    <dt>Fonction</dt>
    <dd>Enseignant au département d'informatique du collège Lionel-Groulx</dd>

    <dt>Date</dt>
    <dd>Janvier 2025</dd>
</dl>

