@model IEnumerable<BookmarksManager.Models.Bookmark>

@foreach (var item in Model)
{
    string faviconUrl = "http://www.google.com/s2/favicons?sz=64&domain=" + item.Url;

    <a href="@item.Url" target="_blank" title="Aller à @item.Title">
        <div class="favicon" style="background-image: url('@faviconUrl');"></div>
    </a>

    <a href="/Bookmarks/Details/@item.Id" class="noDecoration" title="Voir les détails de @item.Title">
        @Html.DisplayFor(modelItem => item.Title)
    </a>

}