@model IEnumerable<BookmarksManager.Models.Bookmark>

@{
    ViewBag.Title = "Index";
}

<div id="BookmarksPanel" class="bookmarksListLayout"> </div>

@section Scripts {
    <script>
        $(() => { let BookmarksPanel = new AutoRefreshedPanel("BookmarksPanel", "@Url.Action("GetBookmarks")", 2); })
    </script>
}